<div class="col-sm-8">
  <article class="panel">
    <header>
      <strong><%= @blog.title %></strong>
    </header>

    <p>
      <%= @blog.body.html_safe %>
    </p>

    <footer>
      <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
      <%= link_to "<i class='fa fa-angle-double-left'></i> Back".html_safe, blogs_path %>
    </footer>
  </article>
</div>

<%= render "shared/blog/side-panel" %>

