<div class="js-portfolio-modal portfolio-item-content">
  <div class="row">
    <div class="col-sm-7 portfolio-item-content__image">
      <%= image_tag @portfolio_item.main_image.url %>
    </div>

    <div class="col-sm-5 portfolio-item-content__text">
      <h1><%= @portfolio_item.title %></h1>

      <em class="subtitle"><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>

      <% if @portfolio_item.technologies.any? %>

        <h4>Technology used</h4>
        <% @portfolio_item.technologies.each do |t| %>
          <p><%= t.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

