<div class="layout-container panel">
  <h1>Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'enter your email' %>
      </div>
    </fieldset>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: 'btn -block -primary' %>
    </div>
  <% end %>
</div>