<div class="col-sm-4 -h-well-h">
  <h4>
    <%= blog.title %>
  </h4>

  <small><%= time_ago_in_words(blog.created_at) %> ago in <%= blog.topic.title %></small>

  <p><%= truncate(blog.body.html_safe, length: 300, escape: false) %></p>

  <%= link_to 'Continue reading <i class="fa fa-angle-double-right"></i>'.html_safe, blog %>
</div>