<h2 class="-h-text-center">Get in Touch</h2>

<%= form_for @contact, url: home_contact_path, remote: true do |f| %>
  <div class="row">
    <div class="col-sm-4 form-group">
      <%= f.text_field :name, required: true, placeholder: "enter name"%></br>
    </div>
    <div class="col-sm-4 form-group">
      <%= f.email_field :email, required: true, placeholder: "enter email"%>
    </div>
    <div class="col-sm-4 form-group">
      <%= f.text_field :phone, type: 'tel', placeholder: "enter phone"%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
      <%= f.text_area :phone, required: true, placeholder: "enter message", rows: 8 %>
      <%= f.text_field :nickname, hint: ‘leave this field blank’ %>
    </div>
  </div>

  <div class="form-actions">
    <small>
      <span class="-h-muted">Email: </span><a href="mailto:hello@chrishanson.me">hello@chrishanson.me</a><br>
      <span class="-h-muted">Skype: </span>chris.hanson.e3
    </small>

    <%= f.submit 'Send Message' %>
  </div>
<% end %>