<section class="hero" data-scroll-index="0">
  <strong class="hero__header">Hello. I am <span class="typed-header"></span></strong>
  <a href="javascript:;" data-scroll-nav="1" class="hero__skip"><i class="fa fa-angle-double-down fa-4x"></i></a>
</section>

<div data-scroll-index="1">
  <%= render 'about'%>
</div>

<section class="portfolio" data-scroll-index="2">
  <h2 class="-h-text-center">My Past Work</h2>

  <div class="portfolio-grid js-sortable">
    <%= render partial: 'portfolio_item', collection: @portfolio_items %>
  </div>
</section>

<section class="portfolio layout-container -well" data-scroll-index="2">
  <h2 class="-h-text-center">Employment History</h2>

  <div class="row jobs">
    <%= render partial: 'job', collection: @jobs %>
  </div>
</section>

<div class="-h-bg-alt" data-scroll-index="3">
  <section class="layout-container -well">
    <h2 class="-h-text-center">Featured Posts</h2>

    <div class="row">
      <%= render partial: 'blog', collection: @blogs %>
    </div>

    <div class="-h-well -h-text-center">
      <hr>
      <p><small><%= link_to 'View full blog', blogs_path %></small></p>
    </div>
  </section>
</div>

<div id="contact"></div>
<section class="layout-container -well contact"  data-scroll-index="4">
  <%= render 'contact' %>
</section>

