<section class="hero" data-scroll-index="0">
  <strong class="hero__header">Hello. I am <span class="typed-header"></span></strong>
  <a href="" data-scroll-nav="1" class="hero__skip"><i class="fa fa-angle-double-down fa-4x"></i></a>
</section>

<div data-scroll-index="1">
  <section class="layout-container -well">
    <div class="row">
      <div class="col-sm-6">
        <div class="headshot"></div>
      </div>
      <div class="col-sm-6">
        <h1>Hi. I'm Chris Hanson</h1>
        <em class="subtitle">Full-Stack Developer & Usability Expert</em>

        <p>With over 10 years experience writing software across various industries. I love solving problems and I take a very user centric approach to my work.</p>

        <p>I'm a seasoned leader, partically in SCRUM/ Agile enviroments. I'm very comfortable working directly with clients and end users to ensure they have the best experience.</p>

        <p>I enjoy working across the full stack and experimenting with all the latest tools/ technologies. If you'd like to know more, checkout <a href data-scroll-nav="2">my past work</a> or <a href data-scroll-nav="4">hit me up</a>.</p>

        <ul class="skill-list">
          <% @skills.each do |skill| %>
            <li>
              <strong><%= skill.title %></strong> <small class="-h-pull-right -h-muted"><%= skill.percent_utilised %>%</small>
              <div class="skill-bar">
                <div class="skill-bar__inner" style="width:<%= skill.percent_utilised %>%;"></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

  <div class="-h-bg-alt services">
    <section class="layout-container -well">
      <h2 class="-h-text-center">What I Do</h2>

      <div class="row">
        <div class="col-sm-4 -h-text-center">
          <i class="icon icon-laptop"></i>
          <h3>Front-end</h3>
          <p>From simple marketing landing pages/ brochure sites to fully featured SPAs supporting 100k+ active users per month</p>
        </div>
        <div class="col-sm-4 -h-text-center">
          <i class="icon icon-layers"></i>
          <h3>Back-end</h3>
          <p>Experienced Rails and NodeJS developer. Proficient at building RESTful APIs and working with relational &amp; NoSQL databases</p>
        </div>
        <div class="col-sm-4 -h-text-center">
          <i class="icon icon-mobile"></i>
          <h3>Fully Responsive</h3>
          <p>In this age, if your content doesn't respond well on mobile devices, <a href="http://gs.statcounter.com/platform-market-share/desktop-mobile-tablet" target="_blank">over half your audience</a> is going to have a bad time</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 -h-text-center">
          <i class="icon icon-profile-male"></i>
          <h3>User Experience</h3>
          <p>Your elegant code and beautifly designed architecture won't save your app if the user experience sucks</p>
        </div>
        <div class="col-sm-4 -h-text-center">
          <i class="icon icon-browser"></i>
          <h3>X-Browser/ Accessability</h3>
          <p>I can implement WCAG standards without totally runing your design and make it work across browsers <small>(no old IE thanks)</small></p>
        </div>
        <div class="col-sm-4 -h-text-center">
          <i class="icon icon-heart"></i>
          <h3>Care</h3>
          <p>I take a lot of pride from my work, I love solving problems and pay great attention to detail. I do it all out of &nbsp;<i class="fa fa-heart"></i></p>
        </div>
      </div>
    </section>
  </div>
</div>

<section class="portfolio" data-scroll-index="2">
  <h2 class="-h-text-center">My Past Work</h2>

  <div class="portfolio-grid js-sortable">
    <% @portfolio_items.each do |item| %>
      <div class="portfolio-item" data-featherlight="/portfolio/<%=item.id%>.html .js-portfolio-modal" data-featherlight-type="ajax">
        <div class="portfolio-item__info-container">
          <header class="portfolio-item__title"><%= item.title %></header>
          <p class="portfolio-item__subtitle"><%= item.subtitle %></p>
        </div>
        <div class="portfolio-item__image" style="background-image:url(<%= item.thumb_image %>)"></div>
      </div>
    <% end %>
  </div>
</section>

<section class="portfolio layout-container -well" data-scroll-index="2">
  <h2 class="-h-text-center">Employment History</h2>

  <div class="row">
    <% @jobs.each do |job| %>
      <div class="col-sm-4">
        <div class="job">
          <a href class="job__logo" data-featherlight-variant="-small" data-featherlight="#job-<%= job.id %>">
            <%= image_tag job.logo %>
          </a>
          <div class="job__detail">
            <a href="#" data-featherlight-variant="-small" data-featherlight="#job-<%= job.id %>"><%= job.position %></a>

            <small class="-h-pull-right">
              <%= distance_of_time_in_words(job.finished_at, job.started_at) %>
            </small>
          </div>
        </div>
        <div class="job__modal-content" id="job-<%= job.id %>">
          <h1><%= job.position %></h1>
          <em class="subtitle"> <%= job.company_name %></em>
          <p><%= job.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>

<div class="-h-bg-alt" data-scroll-index="3">
  <section class="layout-container -well">
    <h2 class="-h-text-center">Featured Posts</h2>

    <div class="row">
      <% @blogs.each do |blog| %>
        <div class="col-sm-4 -h-well-h">
          <h4>
            <%= blog.title %>
          </h4>

          <small><%= time_ago_in_words(blog.updated_at) %> ago in <%= blog.topic.title %></small>

          <p><%= truncate(blog.body, length: 300) %></p>

          <%= link_to 'Continue reading <i class="fa fa-angle-double-right"></i>'.html_safe, blog %>
        </div>
      <% end %>
    </div>

    <div class="-h-well -h-text-center">
      <hr>
      <p><small><%= link_to 'View full blog', blogs_path %></small></p>
    </div>

  </section>
</div>

<div id="contact"></div>

<section class="layout-container -well contact"  data-scroll-index="4">
  <h2 class="-h-text-center">Get in Touch</h2>

  <form action="">
    <div class="row">
      <div class="col-sm-4">
        <input required type="text" placeholder="enter name *">
      </div>
      <div class="col-sm-4">
        <input required type="email" placeholder="enter email *">
      </div>
      <div class="col-sm-4">
        <input required type="tel" placeholder="enter phone">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <textarea placeholder="enter message *" cols="30" rows="10"></textarea>
      </div>
    </div>

    <div class="form-actions">
      <small>
        <span class="-h-muted">Email: </span><a href="mailto:hello@chrishanson.me">hello@chrishanson.me</a><br>
        <span class="-h-muted">Skype: </span>chris.hanson.e3
      </small>

      <button type="submit">Submit</button>
    </div>
  </form>
</section>

